html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.admin-layout {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.admin-layout_outlet {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

progress {
  width: 400px;
  height: 10px;
  border-radius: 10px;
}
@media (max-width: 480px) {
  progress {
    width: 80%;
  }
}
progress::-webkit-progress-value {
  background-color: teal;
}

progress::-webkit-progress-bar {
  background-color: #ddd;
}

progress::-moz-progress-bar {
  background-color: #4caf50;
}

.main_content {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  text-align: center;
}
